.takenotetwo{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.3);
    width: 43vw;
    height: 24vh;
    justify-content: center;
    margin-left: 30%;
}
.takenotetwo input{
    width: 42vw;
    height: 8vh;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    font-size: medium;
    padding-left: 20px;
    border: none;
    border-radius: 8px;
    background-color: white;
    outline: none;
}
.pin{
    margin-right: 1rem;
}
.titletnt{
    display: flex;
    text-align: center;
    align-items: center;
}
.icontnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icontntimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}


@media screen and (min-width: 320px) and (max-width: 768px)
{
    .takenotetwo{
        width: 70%;
        margin-left: 20%;
        justify-content: space-evenly;
    }
    .titletnt{
        justify-content: space-between;
    }
    .icontnt{
        justify-content: space-between;
    }
    .icontnt div{
        margin: 1px;
    }
    .close{
        display: none;
    }
    .takenotetwo input{
        height: 5vh;
        margin-top: 0;
    }
    .icontntimg{
        gap: .9rem;
    }
}
@media screen and (min-width: 480px)
{
    .close{
        display:contents
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px)
{
    .takenotetwo{
        width: 70%;
        margin-left: 20%;
        justify-content: space-around;
    }
    .titletnt{
        justify-content: space-between;
    }
    .icontnt{
        justify-content: space-between;
    }
    .icontnt div{
        margin: 1px;
    }
    .takenotetwo input{
        height: 5vh;
        margin-top: 0;
    }
    .icontntimg{
        gap: .9rem;
    }
}